@page "/"




<h1>Hi, Lets learn</h1>

<p>Learn coding, get paid for making things and best of all its free and easy to learn here.</p>

<Notification Title="This website is still in development, but feel free to submit your course work for help." />
